<P ALIGN=CENTER><B>Activity info creation</B></P>

<P>From this page any kind of information related to an activity can be defined. This information will appear to the student in the course main page and above of the activity name until student click on the activity. Once the student has acceded to the activity it will be possible accede to this information by means of the help button that appears next to the name of the activity.</P>
