<P ALIGN=CENTER><B>Created conditions table</B></P>

<P>In the following table are the conditions that have been created until this moment. These conditions will not work until they are not grouped combining them in the section "Combining the different conditions using logic operators" below in the same page. In the first column of the table there will be a mark indicating if each condition have been grouped (green tick) or haven't been grouped (red cross) yet. In the second column is the condition itself. In the third column there is a number that identifies each condition in order to group them (see "Combine the different conditions using logic operators" help for more information). When you click in any of the identifiers, this it is added at the end of the text box "Conditions combination". And the next two columns are used to edit and remove each of the conditions.</P>
