<P ALIGN=CENTER><B>Creation of conditional activities</B></P>

<P>From this section it is possible to create conditionals to manage to establish an itinerary or rate of customized learning for each student of the course. The activities or resources will be shown to each student according to their interaction with the course. That is to say, thanks to conditionals, the activities or resources will not appear all together, but at the suitable moment, the tutor not worrying to hide them or making them visible according to the established programming.</P> 

<P>The appearance or not appearance of any activity can be conditioned to one or several of the described conditions described below.</P>

<P>The process requires two steps:</P>
 
<ul>1.- create one or several conditions choosing between the different options that appear</ul>
<ul>2.- combine the created conditions using logic operators</ul>
  
<P>The result is that this activity or resource will not be shown to a certain student until the conditions combination previously defined is not fulfilled for this student.</P>

<P>The available conditions types are the following ones:</P>

<P><B>Assignment</B></P>
<UL>It is possible to be conditioned to that the student has or not sent a determined assignment of the course.</UL>
<UL>It is possible to be conditioned to that the grade obtained by the student in a determined assignment of the course is equal, different, greater, smaller, greater or equal or smaller or equal as any possible grade for this assignment, being this a numerical value or one customized scale.</UL>

<P><B>Chat</B></P>
<UL>It is possible to be conditioned to that the student has opened or not a determined chat window in the course.</UL>

<P><B>Choice</B></P>
<UL>It is possible to be conditioned to that the student has answered or not a determined choice of the course.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a determined choice of the course is equal or different from any of the options of the choice.</UL>

<P><B>Forum</B></P>
<UL>It is possible to be conditioned to that the number of discussions (threads) initiated by the student in a determined forum of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a number from 0 to 100.</UL>
<UL>It is possible to be conditioned to that the total number of messages (the beginnings of discussions or threads also consider messages) sent by the student to a determined forum of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a number from 0 to 100.</UL>
<UL>It is possible to be conditioned to the number of answers that the discussions initiated by a student obtain (all the messages will be counted as answer messages being children, grandsons, greats-grandchild... of the discussions initiated by the student). This one can be equal, different, greater, smaller, greater or equal or smaller or equal than a number from 0 to 100, considering that the messages of answer sent by the own student are also counted.</UL>
<UL>It is possible to be conditioned to that the grade obtained by the student in a determined forum of the course is equal, different, greater, smaller, greater or equal or smaller or equal as any possible grade for this forum, being this a numerical value or one customized scale.</UL>

<P><B>Glossary</B></P>
<UL>It is possible to be conditioned to that the incoming number of entries added by the student to a determined glossary of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a number from 0 to 100.</UL>
<UL>It is possible to be conditioned to that the number of comments done by the student to terms of a determined glossary of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a number from 0 to 100.</UL>

<P><B>Lesson</B></P>
<UL>It is possible to be conditioned to that the grade obtained by the student in a determined lesson of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a percentage of the highest possible grade.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a "multiple option" question of a determined lesson of the course is equal or different from any of the possible options.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a "true/false" question of a determined lesson of the course is equal or different from any of the two possible options.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a "short answer" question of a determined lesson of the course is equal or different from any of the possible answers.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a "numerical" question of a determined lesson of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a given number.</UL>
<UL>It is possible to be conditioned to that the number of correct matches done by the student in a "matching" question of a determined lesson of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a number between 0 and the number of total matches.</UL>
<UL>It is possible to be conditioned to that the mark obtained by the student in a "essay" question of a determined lesson of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a number between 0 and the highest possible mark.</UL>

<P><B>Quiz</B></P>
<UL>It is possible to be conditioned to that the grade obtained by the student in a determined quiz of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a percentage of the highest possible grade.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a "short answer" question of a determined quiz of the course is equal or different from any of the possible answers.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a "true/false" question of a determined quiz of the course is equal or different from any of the two possible options.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a "multiple option" question of a determined quiz of the course is equal or different from any of the possible options.</UL>
<UL>It is possible to be conditioned to that the number of correct matches done by the student in a "matching" question of a determined quiz of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a number between 0 and the number of total matches.</UL>
<UL>It is possible to be conditioned to that the number of successes of the student in a type question "random short-answer matching" of a determined quiz of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a number between 0 and the number of total short answers.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a "numerical" question of a determined quiz of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a given number.</UL>
<UL>It is possible to be conditioned to that the answer given by the student to a "calculated" question of a determined quiz of the course is equal, different, greater, smaller, greater or equal or smaller or equal than the correct answer.</UL>

<P><B>Wiki</B></P>
<UL>It is possible to be conditioned to that the number of times that the student has edited a determined wiki of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a number from 0 to 100.</UL>

<P><B>Workshop</B></P>
<UL>It is possible to be conditioned to that the grade obtained by the student in a determined workshop of the course is equal, different, greater, smaller, greater or equal or smaller or equal than a percentage of the highest possible grade.</UL>

<P><B>Resource</B></P>
<UL>It is possible to be conditioned to that the student has access to a resource of different type that label.</UL>

<P><B>Student language</B></P>
<UL>It is possible to be conditioned to that the student language is different or equal to any of the list of languages.</UL>

<P><B>Student country</B></P>
<UL>It is possible to be conditioned to that the student country is different or equal to any of the list of countries.</UL>

<P><B>Enrolment date (first click)</B></P>
<UL>It is possible to be conditioned to that the time passed since student's first click in the course is greater or smaller than a number of days.</UL>

<P><B>Course start date</B></P>
<UL>It is possible to be conditioned to that the time passed since course start date is greater or smaller than a number of days.</UL>

<P><B>Date</B></P>
<UL>It is possible to be conditioned to that the time passed since determined date in course is greater or smaller than a number of days.</UL>
