<P ALIGN=CENTER><B>Conditions combination</B></P>

<P>In this part it is in where the conditions are grouped in the wished way. It can be done in two different ways:</P>

<ul>1.- Introducing the text directly to create a logical sequence of conditions respecting the syntax as shown in the examples at the end.</ul>
<ul>2.- Clicking, sequencially, in the identifiers associated to each condition and that appear to the left of each of them in the list of "Created conditions", in the parentheses or the logical connectors "and" (logical "and"), "or" (logical "Or") and "not" (logical "Negation"). Note that, at any time, you will be able to modify the created Conditions combination using the keyboard.</ul>

<P>Next, we will see some examples with the purpose of clarifying the used syntax:</P>

<P><B>1 and 2 and 3</B></P>
<P><B>(1 and 2) or 3</B></P>
<P><B>((1 or 2) and 3) or not 1</B></P>