<P ALIGN=CENTER><B>To stand out new activities</B></P>

<P>If you choose the option <b>Yes - NEW label</b>, the word <b>NEW</b> will appear highlighted next to the name of those activities never acceded by the student. And if you choose the option <b>Yes - personalized label</b> the text introduced in the field <b>Personalized label</b> (next in this course settings page) will appear highlighted next to the name of those activities never acceded by the student.</P>
