<P ALIGN=CENTER><B>Personalized label</B></P>

<P>If you introduce a text in this field and you choose the option <b>Yes - personalized label</b> in the field <b>To stand out new activities</b> (back in this course settings page) the text introduced will appear highlighted next to the name of those activities never acceded by the student.</P>
